<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Champions App</title>
  </head>

  <body>
    <h1>May The Champions be with you.</h1>

    <form action="/teams" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="surname" name="surname" />
      <input type="text" placeholder="team1" name="team1" />
      <button type="submit">Submit</button>
    </form>
    
    <h2> Teams </h2>

    <ul class="teams">
      <!-- Loop through teams -->
      <% for(var i = 0; i < teams.length; i++) {%>
        <li class="team">
          <!-- Output name from the iterated teams object -->
          <span><%= teams[i].name %></span>
          <span><%= teams[i].surname %></span>
          <!-- Output teams from the iterated teams object -->
          <span><%= teams[i].team1 %></span>
        </li>
      <% } %>
    </ul>

    <div>
      <h2>CHAMPIONS WHO!!!</h2>
      <p>
         TEAM YOU CHOSE AT FIRST WITH ANOTHER TEAM!!. 
      </p>
      <button id="update-button">Replace Team</button>
    </div>

    <div>
      <h2>Remove Champions!</h2>
      <p>
        Delete one team
      </p>
      <button id="delete-button">Delete team</button>
    </div>
    <div id="message"></div>
    <script src="/main.js"></script>
  </body>
</html>